
.color-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 40%;

  }
  
 
  .color-button{
    padding: 10px;
    border: none;
   
    color: black;
    cursor: pointer;
    border-radius: 4px;
    
  }
