
.color-dropdown-menu {
    display: flex;
     flex-direction: row; 
    position: absolute;
    z-index: 1;
    width: 50px;
    border: none;
    top: -30px;

  }
  
 
  .color-button{
    padding: 10px;
    border: none;
   

    border-radius: 4px;
    text-align: center;
  }

  .color-button:hover {
    background-color: rgba(200, 200, 200, 1);
  }