
.color-dropdown-menu {
    display: flex;
     flex-direction: row; 
    position: absolute;
    z-index: 1;
    width: 50px;
    

  }
  
 
  .color-button{
    padding: 10px;
    border: none;
   
    color: black;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  }
