body {
  background: #e6f0f5;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color:  rgb(255, 253, 248);
}


.todo-container {
 
  min-height: 400px;
  width: 680px;
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%,-50%);
  margin: 0 auto;
  border-radius: 1rem;
  border: 0.5rem solid white;
  background:rgb(67, 48, 160);
  box-shadow: 0 15px 30px rgba(0,0,0,.65);
 
}

header {
  display: flex;
  justify-content: center;
  width: 80%; 
  max-width: 500px; 
  padding: 1.5rem 1rem;
  background: white;
  border-radius: 1rem;
 
  margin-left: auto;
  margin-right: auto;
 
}

.input-container {
  
  position: relative;
  padding: 2rem;

  
}

.input-container input[type="text"] {
  
  border: none;
  outline: none; 
  word-wrap: break-word;
  font-size: 20px;
  width: 160%;
  padding: 0px;
 
  
}

.task-input{
  position: relative;
  left: -169px;
  word-wrap: break-word;
}

.project-name-input{
  position: relative;
 top: 6px;
 left: -10px;
 word-wrap: break-word;
 width: 70%;
 direction: rtl;
 text-align: center;
}

.project-name {
margin-right:15px ;
bottom: 0;
word-wrap: break-word; 
position: relative;
color: rgb(103, 41, 204);
justify-content: right;
display: flex;
overflow: hidden;

}

.Task{  /*nтекст бокс внутри колонок*/
  padding: 0.2rem;
  position: relative;
  top: -15px;
  font-weight: bold;
  right: -9px;

}
.add-btn {
  color: #fefefe;
  padding: 10px;
  position: relative;
  top: -15px;
  left:75px;
  min-width: 20%;
  cursor: pointer;
  border: none;
  background: #6664ff;
  border-color: #6664ff;
  pointer-events: visible;
  border-radius: 5px;
  font-size: 15px;

}

.add-btn:hover{
  background: #4442f6;
  border-color: #4442f6;
  pointer-events: visible;

}

ul {
  list-style: none;
  padding: 0px;
  font-size: 1.03rem;
 
  
}

li {
  margin: 5px 0;
  padding: 3px;

  background-color: #f9f9f9;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}


.todos, .dones {
  float: left;
  width: 280px;
  min-height: 300px;
  margin: 20px;
  padding:10px;

  border-radius: 8px;
  background:rgba(213, 204, 255, 1);
  color: rgb(62, 18, 119);
  word-wrap: break-word;
  
}

.delete-btn  {
  max-width: 24px; 
  height: auto; 
  object-fit: contain;
  margin-left: 250px;
  margin-top: 0.1rem;
  cursor: pointer;
}

