.customIcon {
    cursor: pointer;
    margin: 3px;
    display: block;
    width: 35px;
    height: 45px;
    position: relative;
    
   
}

.task-complexity{
    width: 50%;
}

.daybutton {
    background: fill;
    border: none;
    border-Radius: 10px;
    padding: 0;
    cursor: pointer;
  }

  .todos .daybutton,
.dones .daybutton {
  transform: scale(0.8);
}